@import url('https://fonts.googleapis.com/css2?family=Karantina&display=swap');

:root {
  --primary-white: #fff;
  --primary-red: rgb(189, 5, 5);
  --primary-dark: rgb(36, 34, 34); 

}

body {
  font-family: "karantina" ;
}

.logo {
  width: 5.25rem;
}

nav a.nav-link {
  font-weight: 500 ;
  letter-spacing: .1057rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
  
}

.navbar-nav > li > a {
  margin-right: .75rem;
  margin-left: .75rem;
  color: var(--primary-white) !important;
  border-top: .1875rem solid var(--primary-dark);
  
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:active:focus {
  border-top:.1875rem solid var(--primary-red);
}

.navbar-nav > li > a: hover {
  border-top:.1875rem solid var(--primary-red);
}